html, body {
	height: 100%;
	overflow-y: auto;
}
body {
	background-color: #fcfcfc;
}
* {
	font-size: .9rem;
}
.navbar-item img {
	opacity: 1;
}
.is-white {
	background-color: #fff;
}
a.delete {
	position: absolute;
    top: 1rem;
    right: 1rem;
}