html, body {
	height: 100%;
	overflow-y: auto;
}
body {
	background-color: #fafbfc;
	color: #1f2d3d;
}
.navbar-item img {
	opacity: 1;
}
.is-white {
	background-color: #fff;
}
a.delete {
	position: absolute;
    top: 1rem;
    right: 1rem;
}
.checkbox, .radio {
    cursor: pointer;
    display: block;
    line-height: inherit;
    position: relative;
}
.menu-list a.is-active {
    background-color: transparent;
    color: #000;
    font-weight: bolder;
}
.progress {
	height: 4px;
}
.is-full-width {
	width: 100%;
}
.card-no-shadow {
	box-shadow: none;
}
.card-header {
	box-shadow: none;
}
.card-padding {
	padding: 3rem 4rem;
}
.card-footer {
	padding: 1rem 0;
	border-top: 1px solid #f6f6f8;
}
.box {
	border-radius: 0;
}
.panel-block.is-active {
    border-left-color: #363636;
    font-weight: bolder;
 }
 .container {
 	max-width: 960px;
 	margin: auto;
 }
  .page-title {
 	padding-top: 2rem;
 	padding-bottom: 2rem;
 	background-color: #fff;
 	box-shadow: 0 2px 0 0 #f5f5f5;
 }
 .project-title {
 	padding-top: 2rem;
 	padding-bottom: 0;
 	background-color: #fff;
 	box-shadow: 0 2px 0 0 #f5f5f5;
 }
 .is-dark {
 	background-color: 
 }
 .navbar {
 	box-shadow: none;
 }
 .section {
 	background-color: #;
 }
 a .box:hover {
	box-shadow: 0 2px 3px rgba(10,10,10,.2), 0 0 0 1px rgba(10,10,10,.2);;
}
 p.panel-block {
    margin: 0!important;
}
 .button.is-text {
    text-decoration: none;
}
.instructions article {
	padding-bottom: 3rem;
}
.pricing h1 {
	font-size: 3rem;
	font-weight: 900;
}
.pricing h2 {
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
	font-weight: normal;
}
.pricing h3 {
	font-family: 'Helvetica', sans-serif;
	font-size: 3rem;
	margin: 0;
}
.pricing .field {
    padding: 2rem 0;
}
.pricing .box {
	padding: 3rem;
}
.content ul {
    margin: 0;
    padding: 0;
}
.content li {
    list-style: none;
}
.content iframe {
	max-width: 100%;
}
/* BRAND COLORS */
.button.is-brand {
	background-color: #363636;
	border-color: transparent;
	color: #f5f5f5;
}
.button.is-brand.is-hovered, .button.is-brand:hover {
    opacity: .85;
}
.menu-list a.is-brand {
    background-color: transparent;
    color: #363636;
    font-weight: bolder;
}
.progress.is-brand::-webkit-progress-value{background-color:#363636}.progress::-moz-progress-bar{background-color:#363636}.progress::-ms-fill{background-color:#363636;border:none};
@media screen and (max-width: 1366px) {
	.card-padding {
		padding: 2rem;
	}
}