html, body {
	height: 100%;
	overflow-y: auto;
}
body {
	background-color: #f6f6f8;
}
* {
	font-size: .9rem;
}
.navbar-item img {
	opacity: 1;
}
.is-white {
	background-color: #fff;
}
a.delete {
	position: absolute;
    top: 1rem;
    right: 1rem;
}
.media-content .title {
	font-size: 1.5rem;
}
.media-content .subtitle {
	font-size: 1rem;
}
.box {
	min-height: 120px;
}
.menu-list a.is-active {
    background-color: transparent;
    color: #000;
    font-weight: bolder;
}
.progress {
	height: 4px;
}
.box {
	box-shadow: none;
	border-radius: 0;
}
.box:hover {
	box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);;
}
.is-full-width {
	width: 100%;
}
.card-no-shadow {
	box-shadow: none;
}
.card-header {
	box-shadow: none;
}
.card-padding {
	padding: 3rem 4rem;
}
.card-signin {
	padding: 4rem 6rem;
}
.card-footer {
	padding: 1rem 0;
	border-top: 1px solid #f6f6f8;
}
@media screen and (max-width: 1366px) {
	.card-signin {
		padding: 2rem;
	}
}