.sv_main .sv_body {
    background-color: white;
    border-top: 0;
}
.sv_main .sv_container {
    color: #6d7072;
}
.sv_main .sv_p_root > .sv_row:nth-child(odd) {
    background-color: white;
}
.sv_main .sv_p_root > .sv_row:nth-child(even) {
    background-color: white;
}
.sv_main .sv_p_root > .sv_row {
    border-bottom: 0;
}
.sv_main .sv_container .sv_body .sv_p_root .sv_q_title {
    font-size: 2em;
}
.sv_main .sv_container .sv_body .sv_p_root .sv_q {
    text-align: center;
}
/* Button */
.sv_main .sv_container .sv_body .sv_nav .sv_start_btn, .sv_main .sv_container .sv_body .sv_nav .sv_next_btn, .sv_main .sv_container .sv_body .sv_nav .sv_complete_btn {
    float: right;
}
.sv_main input[type="button"], .sv_main button {
    font-size: 0.85em;
    font-weight: bold;
    line-height: 2em;
    border: none;
    min-width: 100px;
    cursor: pointer;
    padding: 0 2em;
    border-radius: 2px;
}
.sv_main input[type="button"], .sv_main button {
    color: white;
    background-color: #1ab394;
}

$main-color 
$main-hover-color 
$header-background-color 
$body-background-color 
$body-container-background-color 
$inputs-background-color 
$text-color 
$header-color 
$border-color 
$error-color 
$error-background-color