/* UNDERBELLY COLORS */
.button.is-brand {
	background-color: #209cee;
	border-color: transparent;
	color: #fff;
}
.button.is-brand.is-hovered, .button.is-brand:hover {
    opacity: .85;
}
.menu-list a.is-brand {
    background-color: transparent;
    color: #209cee;
    font-weight: bolder;
}
.progress.is-brand::-webkit-progress-value{background-color:#209cee}.progress::-moz-progress-bar{background-color:#209cee}.progress::-ms-fill{background-color:#209cee;border:none};
